<!DOCTYPE html>
<html>
  <head>
    <title>cats page</title>
  </head>
  <body>
    <h1>This is our cats name:</h1>

    <ul>
      <% for(let allcat of cats) {%>
      <li><%= allcat %></li>
      <% } %>
    </ul>
  </body>
</html>
