<!DOCTYPE html>
<html>
  <head>
    <title>Home page</title>
  </head>
  <body>
    <h1>Welcome to home page <%= "HI from javaScript"%></h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam in
      asperiores tempore accusamus dolore qui eius atque numquam assumenda
      consequatur esse, eligendi minus dolorum blanditiis accusantium laborum
      non. Nam, rerum. pastor mahmoud
    </p>
  </body>
</html>
