table,
th,
td {
    font-size: 5s0px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid blue;
}

.div-content {
    width: 650px;
    height: 650px;
    display: flex;
    justify-content: center;
    margin-left: 300px;
}

form {
    position: relative;
    float: none;
    font-size: larger;
    font-weight: 900;
    font-family: fantasy;
    text-align: center;
}

#khar {
    width: 70%;
    table-layout: fixed;
    margin-top: 20px;
    margin-bottom: 20px;
}