h1{
    display: inline-block;
    position: relative;
    left: 400px;
    top: 200px;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    border: 1px solid black;
    background-color: #8ac926;
    color: white;
    padding: 10px;
    transition: 2s;
}

div:hover h1{
    background-color: #14213d;
    transform-origin:top left;
    transform: skew(30deg, 60deg);
    box-sizing: border-box;
}
